<a href="https://colab.research.google.com/github/emmanuelvaie/google_colab/blob/main/licence2cahier_electronique.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

In [42]:
worksheet_licence = gc.open_by_url('https://docs.google.com/spreadsheets/d/15vnCNwatQkb-Ag4K6jvIL1pXpZRwtBrhcbCJ6397LDA/edit#gid=806761863').sheet1

# get_all_values gives a list of rows.
rows_licences = worksheet_licence.get_all_values()

import pandas as pd
df_licences = pd.DataFrame.from_records(rows_licences,columns=rows_licences[0])
df_licences = df_licences.drop(0).reindex()

In [43]:
df_licences.columns

Index(['NO ADHERENT', 'NOM', 'PRENOM', 'DATE NAISSANCE', 'SEXE',
       'DIFFUSION ADRESSE', 'CATEGORIE LICENCE', 'ADRESSE 1', 'ADRESSE 2',
       'ADRESSE 3', 'ADRESSE 4', 'CODE POSTAL', 'VILLE', 'PAYS', 'N TEL',
       'EMAIL', 'CODE INSEE', 'NO STR', 'LIGUE', 'CD', 'DATE DE SAISIE',
       'PORTEUR D'UN HANDICAP', 'TYPE DE HANDICAP', 'CLASSIFICATION ENVISAGEE',
       'CLASSIFICATION', 'SOUS-CLASSIFICATION', 'CLASSIFICATION VI',
       'NIVEAU CLASSIFICATION', 'MODE SAISIE'],
      dtype='object')

In [44]:
df_licences = df_licences.drop(columns=['DIFFUSION ADRESSE','ADRESSE 1', 'ADRESSE 2',
       'ADRESSE 3', 'ADRESSE 4','N TEL',
       'EMAIL', 'CODE INSEE', 'NO STR', 'LIGUE', 'CD', 'DATE DE SAISIE',
       'PORTEUR D\'UN HANDICAP', 'TYPE DE HANDICAP', 'CLASSIFICATION ENVISAGEE',
       'CLASSIFICATION', 'SOUS-CLASSIFICATION', 'CLASSIFICATION VI',
       'NIVEAU CLASSIFICATION', 'MODE SAISIE'])

In [45]:
df_licences = df_licences.rename(columns={'PRENOM':'FirstName', 'NOM':'LastName',\
                                          'DATE NAISSANCE':'Birthday','SEXE':'Gender',\
                            'CATEGORIE LICENCE':'StatusId','VILLE':'AddressCity',\
                            'CODE POSTAL':'AddressZip',\
                            'NO ADHERENT':'MembershipNo','PAYS':'AddressCountry'})

In [46]:
df_licences['Gender'] = df_licences['Gender'].apply(lambda x : 'f√©minin' if x=='F' else 'masculin')
df_licences['Birthday'] = df_licences['Birthday'].apply(lambda x : str(x).replace('/','.'))

In [47]:
df_licences['StatusId'] = df_licences['StatusId'].apply(lambda x : 'Senior' if x=='A' else 'Scolaire')

In [51]:
df_licences['Association'] = 'SNBS'
df_licences['AddressCountry'] = 'FRANCE'
df_licences['NameAffix'] = ''
df_licences['Title'] = ''

In [52]:
first_column = df_licences.pop('FirstName')
df_licences.insert(0, 'FirstName', first_column)

In [54]:
col = df_licences.pop('LastName')
df_licences.insert(1, 'LastName', col)

In [55]:
df_licences.head(2)

,FirstName,LastName,MembershipNo,Birthday,Gender,StatusId,AddressZip,AddressCity,AddressCountry,Association
1,JEAN-LUC,BARSAMIAN,111497,20.04.1969,masculin,Senior,92400,COURBEVOIE,FRANCE,SNBS
2,HUBERT,ROYER,268384,30.08.1961,masculin,Senior,75017,PARIS,FRANCE,SNBS

In [ ]:
try :
  inscription_reprocessed = worksheet_licence.spreadsheet.worksheet('Persons to import')
  inscription_reprocessed.clear()
except:
  inscription_reprocessed = worksheet_licence.spreadsheet.add_worksheet(title="Persons to import", rows="100", cols="20")

from gspread_dataframe import set_with_dataframe
set_with_dataframe(inscription_reprocessed, df_join)