<a href="https://colab.research.google.com/github/emmanuelvaie/google_colab/blob/main/process_inscriptions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Get authentication for reading the google sheet

In [ ]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

Read the google sheet and transform it in a dataframe properly

In [ ]:
worksheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1SCruyMO_mncyvIF8kA9HEN2cTabM8ge3Mj2Ia_yG8Uk/edit#gid=464665913').sheet1

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()

import pandas as pd
df_inscriptions = pd.DataFrame.from_records(rows,columns=rows[0])
df_inscriptions = df_inscriptions.drop(0).reindex()
# let's keep only validated files
df_inscriptions = df_inscriptions[df_inscriptions['statut']=='Validé']

In [ ]:
# and filter inscription validated before the 10/10 (all before this date should have a licence)
from datetime import datetime
df_inscriptions['already_processed'] = df_inscriptions['date_statut'].apply(lambda x : True if datetime.strptime(x,"%Y-%m-%d %H:%M:%S") < datetime.strptime('2021-10-10 00:00:00',"%Y-%m-%d %H:%M:%S") else False)

In [ ]:
df_inscriptions = df_inscriptions[df_inscriptions['already_processed']==False]

detect the malformed naissance columns and change the date format

In [ ]:
df_inscriptions.dropna()
df_inscriptions['naissance'].count()
df_ddl_1 = df_inscriptions[df_inscriptions['naissance']=='0000-00-00']
df_ddl_1

        saison  statut  ... montant_total already_processed
4    2021-2022  Validé  ...        460.00             False
95   2021-2022  Validé  ...        310.00             False
153  2021-2022  Validé  ...        459.90             False
377  2021-2022  Validé  ...        460.00             False

[4 rows x 62 columns]

In [ ]:
df_ddl_2 =df_inscriptions[df_inscriptions['naissance']=='']
df_ddl_2

Empty DataFrame
Columns: [saison, statut, date_statut, civil, nom, prenom, email, tel, adresse, cp, ville, pays, nationalite, naissance, profession, entreprise, parent1_civil, parent1_nom, parent1_prenom, parent1_email, parent1_tel, parent2_civil, parent2_nom, parent2_prenom, parent2_email, parent2_tel, contact_civil, contact_nom, contact_prenom, contact_email, contact_tel, docteur_nom, docteur_date, handicap, reglement, documentation, benevolat, nager, assurance, type, licence, categorie, garage, optioncomp, montant, reduction, motifreduction, netapayer, paiement_helloasso, virement, cheque, nbcheques, chequesvacances, couponsport, pass92, caution_nom, caution, especes, autre_details, autre, montant_total, already_processed]
Index: []

In [ ]:
df_inscriptions = df_inscriptions[df_inscriptions['naissance']!='0000-00-00']
df_inscriptions = df_inscriptions[df_inscriptions['naissance']!='']

In [ ]:
from datetime import datetime
df_inscriptions['naissance']= df_inscriptions[df_inscriptions['naissance']!='0000-00-00']['naissance'].\
apply(lambda x : datetime.strptime(x, '%Y-%m-%d').strftime('%d/%m/%Y'))

In [ ]:
df_inscriptions['sexe'] = df_inscriptions['civil'].apply(lambda x : 'H' if x == 'Monsieur' else 'F')

In [ ]:
df_inscriptions = df_inscriptions[df_inscriptions.columns.drop(list(df_inscriptions.filter(regex='^parent')))]
df_inscriptions = df_inscriptions[df_inscriptions.columns.drop(list(df_inscriptions.filter(regex='^contact')))]
df_inscriptions = df_inscriptions[df_inscriptions.columns.drop(list(df_inscriptions.filter(regex='[a-z]*cheque[a-z]*')))]
df_inscriptions = df_inscriptions[df_inscriptions.columns.drop(['documentation', 'benevolat', 'nager', 'assurance',\
                                                                'caution_nom', 'caution', 'especes', 'autre_details',\
                                                                'montant_total','saison','statut','date_statut','profession',\
                                                                'entreprise','reglement','garage','montant','reduction',\
                                                                'motifreduction','netapayer', 'paiement_helloasso','virement',\
                                                                'couponsport','pass92','autre'])]

In [ ]:
from datetime import date,timedelta
yesterday = date.today() - timedelta(days=1)
yester_str = yesterday.strftime('%Y-%m-%d')

In [ ]:
df_inscriptions['docteur_date'] = df_inscriptions['docteur_date'].apply(lambda x : yester_str if x =='0000-00-00' else x)

In [ ]:
from datetime import datetime
df_inscriptions['docteur_date']= df_inscriptions['docteur_date'].apply(lambda x : datetime.strptime(x, '%Y-%m-%d').strftime('%d/%m/%Y'))

In [ ]:
def reprocess_add(input_str):
  input_str = input_str.str.replace('?','  ')
  #input_str = input_str.replace('\n',' ')

In [ ]:
df_inscriptions['docteur_nom'] = df_inscriptions['docteur_nom'].str.upper()
df_inscriptions['ville'] = df_inscriptions['ville'].str.upper()
df_inscriptions['adresse'] = df_inscriptions['adresse'].str.upper()
df_inscriptions['email']= df_inscriptions['email'].str.lower()
#df_inscriptions['adresse'] = df_inscriptions['adresse'].apply(lambda x : reprocess_add(x))
#df_inscriptions['adresse'] = df_inscriptions['adresse'].apply(lambda x : reprocess_add(x))

Split the address

In [ ]:
df_inscriptions['NumeroVoie'] = df_inscriptions['adresse'].str.split(n=2,expand=True)[0]
df_inscriptions['TypeVoie'] = df_inscriptions['adresse'].str.split(n=2,expand=True)[1]
df_inscriptions['LibelleVoie'] = df_inscriptions['adresse'].str.split(n=2,expand=True)[2]

Read the tab with the licences already taken

In [ ]:
df_inscriptions.head()

       civil          nom       prenom  ... NumeroVoie TypeVoie          LibelleVoie
2   Monsieur      ALBANEL     GEOFFROY  ...         38       BD   DU GÉNÉRAL LECLERC
5     Madame      ALTHERR       ARIANE  ...         48      RUE  JEAN-PIERRE TIMBAUD
11  Monsieur        BAKER       ELIOTT  ...         39   AVENUE           DE L'ARCHE
14  Monsieur  BARA--BUTEZ       CHARLY  ...         32      RUE           JEAN BONAL
17    Madame      BARDOUX  ANNE-FRANCE  ...        333       BD          SAINT DENIS

[5 rows x 23 columns]

In [ ]:
worksheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1SCruyMO_mncyvIF8kA9HEN2cTabM8ge3Mj2Ia_yG8Uk/edit#gid=464665913').worksheet('licences_deja_prises')

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()

import pandas as pd
df_licences = pd.DataFrame.from_records(rows,columns=rows[0])

In [ ]:
df_licences = df_licences.drop(0).reindex()

In [ ]:
import unicodedata

def remove_accents(input_str):
  # remove simple quote and '-
  input_str = input_str.replace('\'','')
  input_str = input_str.replace('-','')
  nfkd_form = unicodedata.normalize('NFKD', input_str)
  return u"".join([c for c in nfkd_form if not unicodedata.combining(c)])

remove the accent for 1st name and last name

In [ ]:
df_licences['NOM'] = df_licences['NOM'].apply(lambda x : remove_accents(x))
df_licences['PRENOM'] = df_licences['PRENOM'].apply(lambda x : remove_accents(x))
df_inscriptions['nom'] = df_inscriptions['nom'].apply(lambda x : remove_accents(x))
df_inscriptions['prenom'] = df_inscriptions['prenom'].apply(lambda x : remove_accents(x))

In [ ]:
df_licencies = pd.DataFrame(data=df_licences['NOM'] + '_' + df_licences['PRENOM'] + '_' + df_licences['DATE NAISSANCE'], columns=['key'])
df_licencies.sort_values(by='key', inplace=True)
df_licencies = df_licencies.reset_index()

In [ ]:
df_licencies.head()

   index                           key
0     39    ACHACHE_LAURENT_23/08/1958
1    256   ALBANEL_GEOFFROY_11/07/1957
2      7  ALEXANDRE_OLIVIER_28/05/1958
3    297     ALTHERR_ARIANE_26/03/2002
4      8   ALVIN_MAXIMILIEN_09/02/1984

In [ ]:
!pip install jaro-winkler

Collecting jaro-winkler
  Downloading jaro_winkler-2.0.0-py3-none-any.whl (33 kB)
Installing collected packages: jaro-winkler
Successfully installed jaro-winkler-2.0.0

In [ ]:
import jaro
def jaro_distance_words(s, d):
    r = {}
    for i in range(0,len(d)-1,1):
        r[i] = jaro.jaro_metric(s, d[i])
        
    return r

In [ ]:
# create a similar key on the inscriptions dataset
df_inscriptions = df_inscriptions.reset_index()
df_inscriptions['key'] = df_inscriptions['nom'] + '_' + df_inscriptions['prenom'] + '_' + df_inscriptions['naissance']
d = df_inscriptions.key.to_dict()

In [ ]:
df_inscriptions.head()

   index     civil  ...          LibelleVoie                            key
0      2  Monsieur  ...   DU GÉNÉRAL LECLERC    ALBANEL_GEOFFROY_11/07/1957
1      5    Madame  ...  JEAN-PIERRE TIMBAUD      ALTHERR_ARIANE_26/03/2002
2     11  Monsieur  ...           DE L'ARCHE        BAKER_ELIOTT_26/10/2009
3     14  Monsieur  ...           JEAN BONAL    BARABUTEZ_CHARLY_26/07/2006
4     17    Madame  ...          SAINT DENIS  BARDOUX_ANNEFRANCE_16/08/1964

[5 rows x 25 columns]

In [ ]:
df_licencies['jaro'] = df_licencies['key'].apply(lambda x: jaro_distance_words(x,d))

In [ ]:
test_str = 'ALBANEL_GEOFFROY_11/07/1957'
d_jaro = jaro_distance_words(test_str, d)

In [ ]:
# sort the dictionnary in a list of pairs (index, distance)
d_jaro_sorted = sorted(d_jaro.items(), key=lambda item: item[1], reverse=True)
# display the 5 firsts
d_jaro_sorted[:3]

[(0, 1.0), (104, 0.7314814814814814), (62, 0.7286340103544404)]

In [ ]:
df_licencies['3_similar'] = df_licencies['jaro'].apply(lambda x: list(sorted(x.items(), key=lambda item: item[1], reverse=True))[:3])

In [ ]:
d_jaro_sorted[1][0]

104

In [ ]:
# keep only the greatest distance
df_licencies['match'] = df_licencies['3_similar'].apply(lambda x : d[x[0][0]] if (x[0][1]> 0.8) else 'N/A')
d[77]

'MAYET_CAROLINE_31/10/1972'

In [ ]:
df_licencies.head(10)

   index  ...                        match
0     39  ...                          N/A
1    256  ...  ALBANEL_GEOFFROY_11/07/1957
2      7  ...                          N/A
3    297  ...    ALTHERR_ARIANE_26/03/2002
4      8  ...                          N/A
5     89  ...                          N/A
6     40  ...                          N/A
7      9  ...                          N/A
8     36  ...                          N/A
9    296  ...                          N/A

[10 rows x 5 columns]

An then build a list of licenced persons

In [ ]:
licencies = df_licencies.to_dict('list')['key']

Check who already has a licence

In [ ]:
df_inscriptions['licence_prise'] = df_inscriptions['key'].apply(lambda x : True if x in licencies else False)

Then save the result : only the licence not already taken

In [ ]:
worksheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1SCruyMO_mncyvIF8kA9HEN2cTabM8ge3Mj2Ia_yG8Uk/edit#gid=464665913').worksheet("Fitogram")

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()

import pandas as pd
df_fito = pd.DataFrame.from_records(rows,columns=rows[8])
df_fito = df_fito[df_fito['Nom']!=''].drop(8).drop(9)
df_fito = df_fito[df_fito['Email']!='']
df_fito['Email']= df_fito['Email'].str.lower()

In [ ]:
l_fito = pd.DataFrame(df_fito['Email']).to_dict('list')['Email']

Then give a status to the Fitogram account by comparing the address mails

In [ ]:
df_inscriptions['is_in_fitogram'] = df_inscriptions['email'].apply(lambda x : True if x in l_fito else False)

In [ ]:
df_renouvellement_fito = df_fito[df_fito['Produit actif'] == 'Licence A']

In [ ]:
df_renouvellement_fito = df_renouvellement_fito[df_renouvellement_fito['Abonnement (Début)'].\
                                                apply(lambda x : datetime.strptime(x, '%d/%m/%Y').date().year)==2020]

In [ ]:
df_renouvellement_fito2 = df_renouvellement_fito[['Prénom','Nom','Email','Anniversaire','Abonnement (Début)']]

In [ ]:
df_inscr = df_inscriptions[['email','nom','prenom']]

In [ ]:
df_inscr = df_inscr.set_index('email')
df_renouvellement_fito2 = df_renouvellement_fito2.set_index('Email')

In [ ]:
df_renouvellement_fito2 = df_renouvellement_fito2.join(df_inscr, on='Email', how='inner')

In [ ]:
try :
  inscription_reprocessed = worksheet.spreadsheet.worksheet('re-processed')
  inscription_reprocessed.clear()
except:
  inscription_reprocessed = worksheet.spreadsheet.add_worksheet(title="re-processed", rows="350", cols="20")

from gspread_dataframe import set_with_dataframe
#set_with_dataframe(inscription_reprocessed, df_inscriptions[df_inscriptions['licence_prise']==False])
set_with_dataframe(inscription_reprocessed, df_inscriptions)

In [ ]:
try :
  inscription_reprocessed = worksheet.spreadsheet.worksheet('Fitogram to change')
  inscription_reprocessed.clear()
except:
  inscription_reprocessed = worksheet.spreadsheet.add_worksheet(title="Fitogram to change", rows="350", cols="20")

from gspread_dataframe import set_with_dataframe
set_with_dataframe(inscription_reprocessed, df_renouvellement_fito2)

In [ ]:
# maintenant le cahier électronique
# 1) on construit un dataset de clé NOM_PRENOM, naissance, genre
# 2) on le compare au dataset persons : NOM_PRENOM, naisssance, genre en faisant un right outer join (existe dans les inscriptions mais pas dans le cahier)

In [ ]:
df_inscr_bis = df_inscriptions[['nom','prenom', 'naissance','sexe']]

In [ ]:
df_inscr_bis['key'] = df_inscr_bis['nom'] + '_' + df_inscr_bis['prenom']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_inscr_bis = df_inscr_bis.set_index('key')

In [ ]:
df_inscr_bis.head()

                          nom      prenom   naissance sexe
key
ALBANEL_GEOFFROY      ALBANEL    GEOFFROY  11/07/1957    H
ALTHERR_ARIANE        ALTHERR      ARIANE  26/03/2002    F
BAKER_ELIOTT            BAKER      ELIOTT  26/10/2009    H
BARABUTEZ_CHARLY    BARABUTEZ      CHARLY  26/07/2006    H
BARDOUX_ANNEFRANCE    BARDOUX  ANNEFRANCE  16/08/1964    F

In [ ]:
worksheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1SCruyMO_mncyvIF8kA9HEN2cTabM8ge3Mj2Ia_yG8Uk/edit#gid=464665913').worksheet("persons")

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()

import pandas as pd
df_persons = pd.DataFrame.from_records(rows,columns=rows[0])
df_persons = df_persons.drop(0)

In [ ]:
df_persons = df_persons[['LastName','FirstName']]

In [ ]:
import unicodedata

def process_text(input_str):
  # remove simple quote and '-
  input_str = input_str.replace('\'','')
  input_str = input_str.replace('-','')
  input_str = input_str.replace(' ','_')
  nfkd_form = unicodedata.normalize('NFKD', input_str)
  return u"".join([c for c in nfkd_form if not unicodedata.combining(c)])

In [ ]:
df_persons['LastName'] = df_persons['LastName'].apply(lambda x : process_text(x))
df_persons['FirstName'] = df_persons['FirstName'].apply(lambda x : process_text(x))
df_persons['FirstName'] = df_persons['FirstName'].str.upper()

In [ ]:
df_persons['key'] = df_persons['LastName'] + '_' + df_persons['FirstName']

In [ ]:
df_persons = df_persons.set_index('key')

In [ ]:
df_persons.head()

                           LastName FirstName
key
POSTEL_DEBAUT_JEANNE  POSTEL_DEBAUT    JEANNE
LE_DIMET_JOCELYN           LE_DIMET   JOCELYN
WAUQUIEZ_TIMEO             WAUQUIEZ     TIMEO
MACHADO_LUIS                MACHADO      LUIS
GROUD_ALAIN                   GROUD     ALAIN

In [ ]:
df_join = df_inscr_bis.join(df_persons, on='key', how='left')

In [ ]:
df_join = df_join[df_join['LastName'].isnull()]

In [ ]:
df_join.head()

                        nom      prenom   naissance sexe LastName FirstName
key
ALBANEL_GEOFFROY    ALBANEL    GEOFFROY  11/07/1957    H      NaN       NaN
BAKER_ELIOTT          BAKER      ELIOTT  26/10/2009    H      NaN       NaN
BARDOUX_ANNEFRANCE  BARDOUX  ANNEFRANCE  16/08/1964    F      NaN       NaN
BATTE_HIPPOLYTE       BATTE   HIPPOLYTE  10/11/2008    H      NaN       NaN
BLECH_NICOLAS         BLECH     NICOLAS  14/01/1959    H      NaN       NaN

In [ ]:
try :
  inscription_reprocessed = worksheet.spreadsheet.worksheet('Cahier elec.')
  inscription_reprocessed.clear()
except:
  inscription_reprocessed = worksheet.spreadsheet.add_worksheet(title="Cahier elec.", rows="350", cols="20")

from gspread_dataframe import set_with_dataframe
set_with_dataframe(inscription_reprocessed, df_join)

In [ ]:
 df_join = df_join.reset_index()

In [ ]:
 df_join = df_join.drop(columns=['key', 'LastName', 'FirstName'])

In [ ]:
df_join = df_join.rename(columns={'nom':'LastName','prenom':'FirstName','sexe':'Gender', 'naissance':'Birthday'})
df_join['NameAffix'] =''

In [ ]:
df_join.head()

  LastName   FirstName    Birthday Gender NameAffix
0  ALBANEL    GEOFFROY  11/07/1957      H
1    BAKER      ELIOTT  26/10/2009      H
2  BARDOUX  ANNEFRANCE  16/08/1964      F
3    BATTE   HIPPOLYTE  10/11/2008      H
4    BLECH     NICOLAS  14/01/1959      H

In [ ]:
df_join['Title'] = ''
df_join = df_join[['FirstName','LastName', 'NameAffix','Title','Gender','Birthday']]

In [ ]:
df_join['Gender'] = df_join['Gender'].apply(lambda x : 'féminin' if x=='F' else 'masculin')

In [ ]:
df_join['Birthday'] = df_join['Birthday'].apply(lambda x : str(x).replace('/','.'))

In [ ]:
df_join.head()

    FirstName LastName NameAffix Title    Gender    Birthday
0    GEOFFROY  ALBANEL                  masculin  11.07.1957
1      ELIOTT    BAKER                  masculin  26.10.2009
2  ANNEFRANCE  BARDOUX                   féminin  16.08.1964
3   HIPPOLYTE    BATTE                  masculin  10.11.2008
4     NICOLAS    BLECH                  masculin  14.01.1959

In [ ]:
try :
  inscription_reprocessed = worksheet.spreadsheet.worksheet('Persons to import')
  inscription_reprocessed.clear()
except:
  inscription_reprocessed = worksheet.spreadsheet.add_worksheet(title="Persons to import", rows="100", cols="20")

from gspread_dataframe import set_with_dataframe
set_with_dataframe(inscription_reprocessed, df_join)