<a href="https://colab.research.google.com/github/emmanuelvaie/google_colab/blob/main/read_avantprg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [40]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [41]:
downloaded = drive.CreateFile({'id':"10DDsjWjkYEu5G5h7MgYzfTsVl9n7ammB"})   # replace the id with id of file you want to access
downloaded.GetContentFile('av_prg_macon22.txt')        # replace the file name with your file

In [44]:
file1 = open('av_prg_macon22.txt', 'r')
Lines = file1.readlines()

In [45]:
import re
r = re.compile('^[0-9]+\s.*')
filtered_list = list(filter(r.match, Lines))

In [46]:
d ={}
for i in filtered_list:
  tokens = i.split(' ')
  d[int(tokens[0].strip())] = tokens[1].strip()

In [73]:
import pandas as pd
df = pd.DataFrame.from_dict(d, orient='index', columns=['cat'])

In [74]:
df = df.reset_index()
df = df.rename(columns={'index': 'num_course'})

In [76]:
df['categorie'] = df['cat'].apply(lambda x : x[1])
df['nombre_rameur'] = df['cat'].apply(lambda x : x[3])
df['genre'] = df['cat'].apply(lambda x : x[2])
df['armement'] = df['cat'].apply(lambda x : x[4])

In [77]:
df.head()

   num_course    cat categorie nombre_rameur genre armement
0           1  MBH1x         B             1     H        x
1           2  MCH1x         C             1     H        x
2           3  MDH1x         D             1     H        x
3           4  MAF2x         A             2     F        x
4           5  MBF2x         B             2     F        x

In [78]:
import gspread
import gspread_dataframe as gd
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)
db_sh = gc.open_by_key('16kPQOeIf6lrVxaXKDAdm37mfpDqbZqjx3_9VC9BkVBI')

worksheet_data = db_sh.worksheet('Courses')
gd.set_with_dataframe(worksheet_data,df, include_index=False,include_column_header=True,resize=True)